.btnAboutMeContainer button{
    background-color:  white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid  #8ec1de;
}
.btnAboutMeContainer button i{
    font-size: 1.5rem;
    margin: 0;
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.btnAboutMeContainer button:focus{
    background-color: #8ec1de;
}

